/* Projects section styling */
.projects-section {
  padding: 3rem 1.5rem;
  background-color: #070707;
  color: white;
  text-align: center;
}

/* Centered section heading */
.projects-section h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-weight: bold;
  color: white;
}

/* Each project item */
.project-item {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Project image styling */
.project-item img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Project details text */
.project-details {
  max-width: 1200px;
  text-align: center;
}

.project-details p {
  margin-bottom: 1.5rem;
  color: #ddd;
  font-size: 1rem;
}

/* Button styling for Project buttons */
.proj-button {
  display: inline-block;
  margin: 1.5rem auto;
  padding: 12px 20px;
  background-color: #070707;
  border: 2px solid #f44336;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for buttons */
.proj-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.small-project-image {
  max-width: 350px !important;
  height: auto; 
}
