*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #070707;
  color: white;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
  font-size: 20px !important;
}

@media (max-width: 1080px) {
  html {
    font-size: 16px !important;
  }
}

body,
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
